body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1288px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:38px;
}
#u4 {
  position:absolute;
  left:52px;
  top:36px;
  width:296px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  white-space:nowrap;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:78px;
}
#u6 {
  position:absolute;
  left:39px;
  top:590px;
  width:143px;
  height:77px;
  font-size:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:27px;
  width:139px;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:78px;
}
#u8 {
  position:absolute;
  left:289px;
  top:195px;
  width:143px;
  height:77px;
  font-size:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:27px;
  width:139px;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:78px;
}
#u10 {
  position:absolute;
  left:289px;
  top:590px;
  width:143px;
  height:77px;
  font-size:20px;
}
#u11 {
  position:absolute;
  left:2px;
  top:27px;
  width:139px;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:78px;
}
#u12 {
  position:absolute;
  left:289px;
  top:942px;
  width:143px;
  height:77px;
  font-size:20px;
}
#u13 {
  position:absolute;
  left:2px;
  top:27px;
  width:139px;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:57px;
}
#u14 {
  position:absolute;
  left:520px;
  top:75px;
  width:116px;
  height:56px;
  font-size:16px;
}
#u15 {
  position:absolute;
  left:2px;
  top:18px;
  width:112px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:57px;
}
#u16 {
  position:absolute;
  left:520px;
  top:160px;
  width:116px;
  height:56px;
  font-size:16px;
}
#u17 {
  position:absolute;
  left:2px;
  top:18px;
  width:112px;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:57px;
}
#u18 {
  position:absolute;
  left:520px;
  top:329px;
  width:116px;
  height:56px;
  font-size:16px;
}
#u19 {
  position:absolute;
  left:2px;
  top:18px;
  width:112px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:57px;
}
#u20 {
  position:absolute;
  left:520px;
  top:496px;
  width:116px;
  height:56px;
  font-size:16px;
}
#u21 {
  position:absolute;
  left:2px;
  top:18px;
  width:112px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:57px;
}
#u22 {
  position:absolute;
  left:520px;
  top:689px;
  width:116px;
  height:56px;
  font-size:16px;
}
#u23 {
  position:absolute;
  left:2px;
  top:18px;
  width:112px;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:57px;
}
#u24 {
  position:absolute;
  left:520px;
  top:598px;
  width:116px;
  height:56px;
  font-size:16px;
}
#u25 {
  position:absolute;
  left:2px;
  top:18px;
  width:112px;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:57px;
}
#u26 {
  position:absolute;
  left:520px;
  top:953px;
  width:116px;
  height:56px;
  font-size:16px;
}
#u27 {
  position:absolute;
  left:2px;
  top:9px;
  width:112px;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:57px;
}
#u28 {
  position:absolute;
  left:520px;
  top:244px;
  width:116px;
  height:56px;
  font-size:16px;
}
#u29 {
  position:absolute;
  left:2px;
  top:18px;
  width:112px;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u30 {
  position:absolute;
  left:715px;
  top:68px;
  width:110px;
  height:70px;
}
#u31 {
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u32 {
  position:absolute;
  left:715px;
  top:230px;
  width:110px;
  height:70px;
}
#u33 {
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u34 {
  position:absolute;
  left:866px;
  top:230px;
  width:110px;
  height:70px;
}
#u35 {
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u36 {
  position:absolute;
  left:1022px;
  top:322px;
  width:110px;
  height:70px;
}
#u37 {
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u38 {
  position:absolute;
  left:866px;
  top:322px;
  width:110px;
  height:70px;
}
#u39 {
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u40 {
  position:absolute;
  left:866px;
  top:68px;
  width:110px;
  height:70px;
}
#u41 {
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u42 {
  position:absolute;
  left:715px;
  top:322px;
  width:110px;
  height:70px;
}
#u43 {
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u44 {
  position:absolute;
  left:1022px;
  top:230px;
  width:110px;
  height:70px;
}
#u45 {
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u46 {
  position:absolute;
  left:731px;
  top:942px;
  width:110px;
  height:70px;
}
#u47 {
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u48 {
  position:absolute;
  left:731px;
  top:1042px;
  width:110px;
  height:70px;
}
#u49 {
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u50 {
  position:absolute;
  left:731px;
  top:1153px;
  width:110px;
  height:70px;
}
#u51 {
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u52 {
  position:absolute;
  left:872px;
  top:946px;
  width:110px;
  height:70px;
}
#u53 {
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u54 {
  position:absolute;
  left:872px;
  top:1153px;
  width:110px;
  height:70px;
}
#u55 {
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u56 {
  position:absolute;
  left:1023px;
  top:1153px;
  width:110px;
  height:70px;
}
#u57 {
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u58 {
  position:absolute;
  left:1178px;
  top:1153px;
  width:110px;
  height:70px;
}
#u59 {
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u60 {
  position:absolute;
  left:872px;
  top:1048px;
  width:110px;
  height:70px;
}
#u61 {
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u62 {
  position:absolute;
  left:1023px;
  top:1048px;
  width:110px;
  height:70px;
}
#u63 {
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u64 {
  position:absolute;
  left:722px;
  top:482px;
  width:110px;
  height:70px;
}
#u65 {
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u66 {
  position:absolute;
  left:722px;
  top:583px;
  width:110px;
  height:70px;
}
#u67 {
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u68 {
  position:absolute;
  left:898px;
  top:489px;
  width:110px;
  height:70px;
}
#u69 {
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u70 {
  position:absolute;
  left:1042px;
  top:489px;
  width:110px;
  height:70px;
}
#u71 {
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u72 {
  position:absolute;
  left:898px;
  top:587px;
  width:110px;
  height:70px;
}
#u73 {
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u74 {
  position:absolute;
  left:1042px;
  top:587px;
  width:110px;
  height:70px;
}
#u75 {
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u76 {
  position:absolute;
  left:898px;
  top:696px;
  width:110px;
  height:70px;
}
#u77 {
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u78 {
  position:absolute;
  left:1047px;
  top:701px;
  width:100px;
  height:60px;
}
#u79 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:309px;
}
#u80 {
  position:absolute;
  left:110px;
  top:244px;
  width:1px;
  height:308px;
}
#u81 {
  position:absolute;
  left:2px;
  top:146px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:2px;
}
#u82 {
  position:absolute;
  left:110px;
  top:244px;
  width:149px;
  height:1px;
}
#u83 {
  position:absolute;
  left:2px;
  top:-8px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:287px;
}
#u84 {
  position:absolute;
  left:110px;
  top:696px;
  width:1px;
  height:286px;
}
#u85 {
  position:absolute;
  left:2px;
  top:135px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:2px;
}
#u86 {
  position:absolute;
  left:110px;
  top:981px;
  width:149px;
  height:1px;
}
#u87 {
  position:absolute;
  left:2px;
  top:-8px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:2px;
}
#u88 {
  position:absolute;
  left:192px;
  top:628px;
  width:67px;
  height:1px;
}
#u89 {
  position:absolute;
  left:2px;
  top:-8px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:2px;
}
#u90 {
  position:absolute;
  left:458px;
  top:981px;
  width:52px;
  height:1px;
}
#u91 {
  position:absolute;
  left:2px;
  top:-8px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:2px;
}
#u92 {
  position:absolute;
  left:458px;
  top:628px;
  width:52px;
  height:1px;
}
#u93 {
  position:absolute;
  left:2px;
  top:-8px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:183px;
}
#u94 {
  position:absolute;
  left:484px;
  top:537px;
  width:1px;
  height:182px;
}
#u95 {
  position:absolute;
  left:2px;
  top:83px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:2px;
}
#u96 {
  position:absolute;
  left:484px;
  top:537px;
  width:26px;
  height:1px;
}
#u97 {
  position:absolute;
  left:2px;
  top:-8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:2px;
}
#u98 {
  position:absolute;
  left:484px;
  top:718px;
  width:26px;
  height:1px;
}
#u99 {
  position:absolute;
  left:2px;
  top:-8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:2px;
}
#u100 {
  position:absolute;
  left:484px;
  top:103px;
  width:26px;
  height:1px;
}
#u101 {
  position:absolute;
  left:2px;
  top:-8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:2px;
}
#u102 {
  position:absolute;
  left:484px;
  top:188px;
  width:26px;
  height:1px;
}
#u103 {
  position:absolute;
  left:2px;
  top:-8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:2px;
}
#u104 {
  position:absolute;
  left:484px;
  top:272px;
  width:26px;
  height:1px;
}
#u105 {
  position:absolute;
  left:2px;
  top:-8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:2px;
}
#u106 {
  position:absolute;
  left:484px;
  top:357px;
  width:26px;
  height:1px;
}
#u107 {
  position:absolute;
  left:2px;
  top:-8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:256px;
}
#u108 {
  position:absolute;
  left:484px;
  top:103px;
  width:1px;
  height:255px;
}
#u109 {
  position:absolute;
  left:2px;
  top:120px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:2px;
}
#u110 {
  position:absolute;
  left:442px;
  top:230px;
  width:43px;
  height:1px;
}
#u111 {
  position:absolute;
  left:2px;
  top:-8px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
