body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1568px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:685px;
}
#u3626 {
  position:absolute;
  left:15px;
  top:177px;
  width:1025px;
  height:685px;
}
#u3627 {
  position:absolute;
  left:2px;
  top:334px;
  width:1021px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:518px;
}
#u3628 {
  position:absolute;
  left:1132px;
  top:201px;
  width:272px;
  height:518px;
}
#u3629 {
  position:absolute;
  left:2px;
  top:251px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3630_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:185px;
  height:30px;
}
#u3630 {
  position:absolute;
  left:817px;
  top:459px;
  width:182px;
  height:27px;
}
#u3631 {
  position:absolute;
  left:2px;
  top:6px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:99px;
}
#u3632 {
  position:absolute;
  left:1198px;
  top:417px;
  width:141px;
  height:98px;
}
#u3633 {
  position:absolute;
  left:2px;
  top:18px;
  width:137px;
  word-wrap:break-word;
}
#u3634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:232px;
}
#u3634 {
  position:absolute;
  left:1070px;
  top:814px;
  width:351px;
  height:221px;
}
#u3635 {
  position:absolute;
  left:10px;
  top:10px;
  width:331px;
  word-wrap:break-word;
}
#u3636_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:54px;
  height:30px;
}
#u3636 {
  position:absolute;
  left:673px;
  top:459px;
  width:51px;
  height:27px;
}
#u3637 {
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3638 {
  position:absolute;
  left:908px;
  top:486px;
  width:0px;
  height:0px;
}
#u3638_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:18px;
}
#u3638_seg1 {
  position:absolute;
  left:-172px;
  top:10px;
  width:176px;
  height:8px;
}
#u3638_seg2 {
  position:absolute;
  left:-172px;
  top:-17px;
  width:8px;
  height:35px;
}
#u3638_seg3 {
  position:absolute;
  left:-184px;
  top:-17px;
  width:20px;
  height:8px;
}
#u3639 {
  position:absolute;
  left:-148px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3640 {
  position:absolute;
  left:999px;
  top:473px;
  width:0px;
  height:0px;
}
#u3640_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:125px;
  height:8px;
}
#u3640_seg1 {
  position:absolute;
  left:117px;
  top:-17px;
  width:8px;
  height:21px;
}
#u3640_seg2 {
  position:absolute;
  left:117px;
  top:-17px;
  width:16px;
  height:8px;
}
#u3641 {
  position:absolute;
  left:23px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3642_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:105px;
  height:25px;
}
#u3642 {
  position:absolute;
  left:1029px;
  top:510px;
  width:93px;
  height:5px;
}
#u3643 {
  position:absolute;
  left:2px;
  top:-6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:587px;
}
#u3644 {
  position:absolute;
  left:55px;
  top:1111px;
  width:344px;
  height:587px;
}
#u3645 {
  position:absolute;
  left:2px;
  top:286px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:147px;
}
#u3646 {
  position:absolute;
  left:120px;
  top:1326px;
  width:166px;
  height:146px;
}
#u3647 {
  position:absolute;
  left:2px;
  top:65px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:54px;
}
#u3648 {
  position:absolute;
  left:114px;
  top:1223px;
  width:172px;
  height:53px;
}
#u3649 {
  position:absolute;
  left:2px;
  top:18px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:41px;
}
#u3650 {
  position:absolute;
  left:155px;
  top:1286px;
  width:166px;
  height:40px;
}
#u3651 {
  position:absolute;
  left:2px;
  top:12px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u3652 {
  position:absolute;
  left:133px;
  top:1226px;
  width:144px;
  height:39px;
  text-align:left;
}
#u3653 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u3654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:44px;
}
#u3654 {
  position:absolute;
  left:286px;
  top:1329px;
  width:41px;
  height:43px;
}
#u3655 {
  position:absolute;
  left:2px;
  top:14px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:86px;
}
#u3656 {
  position:absolute;
  left:155px;
  top:1287px;
  width:144px;
  height:85px;
}
#u3657 {
  position:absolute;
  left:2px;
  top:4px;
  width:140px;
  word-wrap:break-word;
}
#u3658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:40px;
}
#u3658 {
  position:absolute;
  left:250px;
  top:1385px;
  width:36px;
  height:39px;
  text-align:left;
}
#u3659 {
  position:absolute;
  left:2px;
  top:12px;
  width:32px;
  word-wrap:break-word;
}
#u3660_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:185px;
  height:25px;
}
#u3660 {
  position:absolute;
  left:407px;
  top:1340px;
  width:173px;
  height:5px;
}
#u3661 {
  position:absolute;
  left:2px;
  top:-6px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:612px;
}
#u3662 {
  position:absolute;
  left:644px;
  top:1111px;
  width:924px;
  height:612px;
}
#u3663 {
  position:absolute;
  left:2px;
  top:298px;
  width:920px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3664_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:54px;
  height:30px;
}
#u3664 {
  position:absolute;
  left:1255px;
  top:1326px;
  width:51px;
  height:27px;
}
#u3665 {
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3666 {
  position:absolute;
  left:399px;
  top:1405px;
  width:0px;
  height:0px;
}
#u3666_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:886px;
  height:8px;
}
#u3666_seg1 {
  position:absolute;
  left:878px;
  top:-52px;
  width:8px;
  height:56px;
}
#u3667 {
  position:absolute;
  left:417px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:127px;
}
#u3668 {
  position:absolute;
  left:63px;
  top:1762px;
  width:351px;
  height:116px;
}
#u3669 {
  position:absolute;
  left:10px;
  top:10px;
  width:331px;
  word-wrap:break-word;
}
#u3670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:38px;
}
#u3670 {
  position:absolute;
  left:63px;
  top:59px;
  width:360px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3671 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  white-space:nowrap;
}
